* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.mo binary

/.github export-ignore
/.wordpress-org export-ignore
/docs/generated export-ignore
/.cybermaps-workspace.json export-ignore
